{% extends 'healthnet/base.html' %}

{% block main_content %}

{% include "healthnet/header.html" %}

<div id="change_password_container">
    <div id="change_password_form">
        <form method="post">
            {% csrf_token %}
            <ul id="change_password_form_list">
                <li>Current Password: <input type="password" name="old_pw"></li>
                <li>New Password: <input type="password" name="new_pw"></li>
                <li>New Password (again): <input type="password" name="new_pw_2"></li>
            </ul>
            <input type="submit" name="submit" value="Submit">
            <input type="submit" name="back" value="Back">
        </form>
    </div>
</div>

{% endblock %}