<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>You have to SignUp</h1>

<form action="SignUp" method="post">{%csrf_token%}
    {{form}}
    <!--<label for="Username">Username</label></br>-->
    <!--<input type="text" name="Username" value="" id="Username"></br>-->
    <!--<label for="email">Email</label></br>-->
    <!--<input type="text" name="email" value="" id="email"></br>-->
    <!--<label for="Password">Password</label></br>-->
    <!--<input type="password" name="password" value="" id="Password"></br>-->

<input type="submit" value="SignUp" />

</form>
</body>
</html>